body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.summary {
  display: flex;
  justify-content: space-between;
}

/* li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  background: #334155;
  padding: 8px;
  border-radius: 5px;
} */

.delete-btn {
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}